body {
  margin: 0;
  font-family: monospace;
  padding: 0;
}

header {
  background: #222;
  padding: .5em;
  text-align: center;
}

header > a.title:link, header > a.title:visited {
  font-size: 2em;
  font-weight: bold;
  color: #afa;
  text-decoration: none;
  text-transform: uppercase;
}

.splash {
  background: #afa;
  padding: .5em .7em;
  text-align: center;
}

.wrapper {
  max-width: 1000px;
  margin: 1em auto;
  /*background: rgba(0, 0, 0, .1);*/
  padding: 1em 2em;
  box-sizing: border-box;
}

@media(max-width: 480px) {
  .wrapper {
    margin: 0 auto;
    padding: .5em .7em;
  }
}

#find-feed {
  margin: 1em auto;
  text-align: center;
  flex-direction: row;
}

#find-feed > div {
  display: flex;
}

#find-feed label {
  display: block;
  margin-bottom: 1em;
}

#find-feed input {
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
}

#find-feed input[type=text] {
  flex: 1;
  border-radius: 6px 0 0 6px;
  text-align: center;
}

#find-feed input[type=submit] {
  border-radius: 0 6px 6px 0;
  padding: .5em 1.2em;
  cursor: pointer;
  border-left: none;
}

.blurb {
  margin: auto;
}

a[rel=next] {
  display: block;
  margin: 1em auto;
  text-align: center;
  padding: 1em;
  background: #222;
  color: #fff;
  text-transform: uppercase;
}
