.heading {
  text-align: center;
}

.error {
  text-align: center;

  color: #a00;
}

.form {
  text-align: center;
}

.fields {
  display: inline-block;

  width: 275px;
  margin: auto;
}

.field {
  display: flex;

  margin: .5em;

  justify-content: space-around;
}

.label {
  text-align: left;

  flex: 1;
}

.line {
  margin: 1em 0;
}

#usernameInput,
#passwordInput {
  /* keep */
}
