.outer {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.sidebar {
  box-sizing: border-box;
  width: 200px;
  margin-right: .5em;
}

.sidebarItem {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: .5em;
  padding: .5em .7em;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #ddd;
}

.activities {
  max-width: 600px;

  flex: 1;
}

.post {
  box-sizing: border-box;
  margin-bottom: .5em;
  padding: .5em .7em;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #ddd;
}

.input {
  font-size: 1.2em;

  width: 100%;
}
