{{define "title"}}Home - DON{{end}}

{{define "head_before_close"}}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@deoxxa" />
<meta name="twitter:creator" content="@deoxxa" />
<meta name="twitter:title" content="Home - DON" />
<meta name="twitter:description" content="A very basic StatusNet node." />
<meta name="description" content="A very basic StatusNet node.">
{{end}}

{{define "content"}}
  <form id="find-feed" method="get" action="/find-feed">
    <label for="user">Find a user anywhere in the fediverse!</label>

    <div>
      <input id="user" name="user" type="text" placeholder="e.g. your-username@your-provider.com" required />
      <input type="submit" value="👀" />
    </div>
  </form>

  <p class="blurb">
    This is a <em>ridiculously</em> simple, read-only StatusNet node.
    Mostly an experiment. <a href="https://www.fknsrs.biz/p/don">Source
    code is available</a>.
  </p>

  <h1>Here are some posts from the public timeline!</h1>

  {{range $feed := .Posts}}
    <h3>
      <a href="/show-feed?url={{($feed.GetLink `self`).Href}}">
        {{if $author := $feed.Author}}{{$feed.Author}}{{else}}(No Username Available){{end}}
      </a>
    </h3>

    {{range $entry := $feed.Entry}}
      {{if $object := $entry.Object}}
        <h4>{{$object.Published}} (shared from {{$object.Author}} @ {{$entry.Published}})</h4>

        {{if $content := $object.Content}}
          <p>{{$content.HTML}}</p>
        {{end}}
      {{else if $content := $entry.Content}}
        {{if $link := $entry.InReplyTo}}
          <h4>{{$entry.Published}} (<a href="{{$link.Href}}">in reply to</a>)</h4>
        {{else}}
          <h4>{{$entry.Published}}</h4>
        {{end}}

        <p>{{$content.HTML}}</p>
      {{else if eq $entry.Verb "http://activitystrea.ms/schema/1.0/delete"}}
        <h4>{{$entry.Published}}</h4>

        <s>(deleted @ {{$entry.Updated}})</s>
      {{end}}

      <hr>
    {{end}}
  {{end}}
{{end}}

{{template "layout" .}}
