{{define "content"}}
  <form id="find-feed" method="get" action="/find-feed" autocomplete="off">
    <input
      id="user"
      name="user"
      type="text"
      placeholder="e.g. your-username@your-provider.com"
      value="TheAdmin@mastodon.cloud"
    />
    <br>
    <input type="submit" value="Go!" />
  </form>

  <p class="blurb">
    This is a <em>ridiculously</em> simple, read-only OStatus client.
    Mostly an experiment. <a href="https://www.fknsrs.biz/p/don">Source
    code is available</a>.
  </p>

  <h1>Here are some posts from the public timeline!</h1>

  {{range $feed := .Posts}}
    <h3>
      <a href="/show-feed?url={{($feed.GetLink `self`).Href}}">
        {{if $author := $feed.Author}}{{$feed.Author}}{{else}}(No Username Available){{end}}
      </a>
    </h3>

    {{range $entry := $feed.Entry}}
      {{if $object := $entry.Object}}
        <h4>{{$object.Published}} (shared from {{$object.Author}} @ {{$entry.Published}})</h4>

        {{if $content := $object.Content}}
          <p>{{$content.HTML}}</p>
        {{end}}
      {{else if $content := $entry.Content}}
        {{if $link := $entry.InReplyTo}}
          <h4>{{$entry.Published}} (<a href="{{$link.Href}}">in reply to</a>)</h4>
        {{else}}
          <h4>{{$entry.Published}}</h4>
        {{end}}

        <p>{{$content.HTML}}</p>
      {{else if eq $entry.Verb "http://activitystrea.ms/schema/1.0/delete"}}
        <h4>{{$entry.Published}}</h4>

        <s>(deleted @ {{$entry.Updated}})</s>
      {{end}}

      <hr>
    {{end}}
  {{end}}
{{end}}

{{template "layout" .}}
